/* место для вашего кода */

/* СЕКЦИЯ HEADER */
.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    margin: 92px auto 96px;
    width: 1052px;
    min-height: 105px;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.13px;
    color: #000;
    margin: 0;
    padding: 0 10px 0 0;
}

.header__links-list {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item_extended {
    letter-spacing: 0.2px;
}

.header__link {
    text-decoration: underline;
    text-underline-position: under;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: flex;
    margin: auto;
    width: 100%;
}

.header__logo-image {
    display: block;
    margin: auto;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 240px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    text-underline-position: under;
}

.header__address {
    justify-self: end;
    margin-right: 26px;
}

.intro__non-breaking {
    white-space: nowrap;
}

/* END - СЕКЦИЯ HEADER */

/* СЕКЦИЯ COVER */

.cover {
    background-image: url("./../images/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 1100px; ширина родителя в global.css */
    min-height: 757px;
    margin: 0 auto 179px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.cover__title {
    margin: 165px 50px 135px;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 30px;
    position: relative;
}

.aligned-text__bottom {
    margin-bottom: 20px;
}

.aligned-text__bottom:last-child {
    margin-bottom: 0;
}

.aligned-text {
    display: block;
    line-height: 115px;
}

.aligned-text_center {
    display: block;
    text-align: center; 
    line-height: 100px;
}

.aligned-text_right {
    display: block;
    line-height: 100px;
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

/* СЕКЦИЯ COVER - контейнер для подзаголовка и кнопки */

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    margin: 0 50px 0 78px;
}

.cover__description-text {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 18.5px;
    color: #ffffff;
    text-transform: uppercase;    
}

.bet-button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 50px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid currentColor;
    padding: 0 31px;
}

/* END - СЕКЦИЯ COVER */

/* СЕКЦИЯ LOTS с карточками */

.lots {
    margin: 0 auto 146px;
    width: 1052px;
}

.lots__heading {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 46.96px;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px; /* если карточек будет больше, будет отступ при переносе */
    margin-bottom: 30px;
}

.lots__card-list-item {
    list-style-type: none;
}

.card-link {
    display: block;
    text-decoration: none;
}

.card {
    min-height: 563px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card_type_film {
    background-image: url(./../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(./../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(./../images/card-lot-03.jpg);
}

.card__title {
    color:#fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.4px;
    text-transform: uppercase;
    margin: 51px 40px 0;
    position: relative;
    text-decoration: underline;
}

.card__text {
    color:#fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    margin: auto 40px 48px;
}

.lots__look-more-link {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: lowercase;
    padding-left: 39px;
    text-underline-position: under;
}

/* END - БЛОК карточек */

/* СЕКЦИЯ - Об аукционе */

.about {
    margin: 0 auto 180px;
    width: 1052px;
    /* height: 595px; */
    padding-left: 47px;
    display: grid;
    grid-template-columns: 310px 1fr;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__column {
    padding-top: 136px;
}

.about__title {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 24px;
}

.about__text:last-child {
    margin-bottom: 0;
}

/* FOOTER */

.footer {
    margin: 0 50px 88px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 180px;
}

/* --- FOOTER - Блок навигации в центре --- */

.header__address_none-margin-right {
    margin-right: 0;
}

.footer__menu {
    justify-items: center;
}

.footer__menu-list {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.13px;
    white-space: nowrap;
    color: #000;
}

.footer__menu-list-item {
    list-style-type: none;
}

.footer__menu-link {
    border-bottom: 1px solid #000;
    text-decoration: none;
}

.footer__menu-link_active {
    border-bottom: none;
}

/* --- FOOTER - Блок социальных иконок --- */

.footer__social-list {
    display: flex;
    justify-content: space-between;
    column-gap: 48px;
    min-height: 48px;
    box-sizing: border-box;
}

.footer__social-list-item {
    list-style-type: none;
    display: block;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

/* END - FOOTER */